<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>View applicants</title>
</head>
<body>
<main layout:fragment="content">
    <section>
        <div class="container">
            <h1>Applicants</h1>
            <table class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>email</th>
                    <th>Competence</th>
                    <th>Yoe</th>
                </tr>
                </thead>
                <tbody>
                    <!--<div th:if="${hasResults}"> -->
                    <tr th:each="profile: ${profiles}">
                        <td th:text="${profile.id}">id</td>
                        <td th:text="${profile.person.email}">email</td>
                        <td th:text="${profile.competence.name}">competence</td>
                        <td th:text="${profile.yoe + ' yoe'}">yoe</td>
                    </tr>
                    <!--</div>-->
                </tbody>
            </table>
            <div th:if="${page}">
                <a th:href="'/recruitment?page=' + ${page}" type="button" class="btn btn-primary" role="button">next</a>
            </div>
        </div>
    </section>
</main>
</body>
</html>
