<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="container">
        <h1 th:if="${#messages.msgOrNull('error.__${errorType}__') != null}"
            th:text="#{error.__${errorType}__}">error type</h1>
        <h1 th:if="${#messages.msgOrNull('error.__${errorType}__') == null}"
            th:text="#{error.generic}">generic error type</h1>
        <p th:if="${#messages.msgOrNull('error.__${errorType}__.info') != null}"
           th:text="#{error.__${errorType}__.info}">error details</p>
        <p th:if="${#messages.msgOrNull('error.__${errorType}__.info') == null}"
           th:text="#{error.generic.info}">generic error details</p>
    </div>
</main>

</body>
</html>