<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content">
<section>
    <h1>Login</h1>
    <h2>This is the login page!</h2>
    <form th:action="@{/login}" th:object="${loginForm}" method="POST">
        <p class="loginForm">
            <ul class = "loginUl">
                <li>
                    <input type="text" th:field="*{username}" id="username-id"/>
                    <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Username Error</span>
                </li>
                <li>
                    <input type="text" th:field="*{password}"  id="password-id"/>
                    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password Error</span>
                </li>
            </ul>

        </p>
        <p class="submit"><input type="submit" th:value="#{account.login.submit}"/></p>
    </form>
</section>
</main>
</body>
</html>