<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{header.title}"></title>
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" th:href="@{/login-user}" th:text="#{nav.login}"></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/sign-up}" th:text="#{nav.sign-up}"></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/apply}" th:text="#{nav.apply}"></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/recruitment}" th:text="#{nav.recruitment}"></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/(lang=en)}" data-th-text="#{label.lang.en}"></a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/(lang=sv)}" data-th-text="#{label.lang.sv}"></a></li>
    </ul>
</nav>
</body>
</html>